@import "tailwindcss";
@import "./syntax.css";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);

  --primary: hsl(200.4 98% 39.4%);
  --primary-btn: hsl(0 0% 9%);
  --primary-btn-lighter: hsl(0 0% 16%);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(0 0% 95%);
  --secondary-lighter: hsl(0 0% 92%);
  --secondary-foreground: hsl(0 1% 34%);

  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);

  --accent: hsl(0 0% 92%);
  --accent-foreground: hsl(240 5.9% 10%);

  --accents-1: #fafafa;
  --accents-2: #ededed;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #171717;
  --accents-8: #000;

  --link: hsl(224.3 76.3% 48%);
  --link-hover: hsl(225.9 70.7% 40.2%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 91.8%);
  --secondary-border: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --radius: 0.5rem;

  --input-shadow: 0 0 0 1px #00000014;
  --input-shadow-hover: 0 0 0 1px #00000036;
  --input-shadow-focus: 0 0 0 1px #00000057, 0 0 0 4px #00000029;
}

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(198.4 93.2% 59.6%);
  --primary-btn: hsl(0 0% 93%);
  --primary-btn-lighter: hsl(0 0% 83%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(0 0% 10%);
  --secondary-lighter: hsl(0 0% 12%);
  --secondary-foreground: hsl(0 2% 72%);

  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(0 0% 12%);
  --accent-foreground: hsl(0 0% 98%);

  --accents-8: #fafafa;
  --accents-7: #ededed;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #000;

  --link: hsl(217.2 91.2% 59.8%);
  --link-hover: hsl(213.1 93.9% 67.8%);

  --destructive: hsl(0 72% 51%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 20%);
  --secondary-border: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);

  --input-shadow: 0 0 0 1px #ffffff24;
  --input-shadow-hover: 0 0 0 1px #ffffff3d;
  --input-shadow-focus: 0 0 0 1px #ffffff82, 0 0 0 4px #ffffff3d;
}

@theme inline {
  --color-border: var(--border);
  --color-secondary-border: var(--secondary-border);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-btn: var(--primary-btn);
  --color-primary-btn-lighter: var(--primary-btn-lighter);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-1: var(--accents-1);
  --color-accent-2: var(--accents-2);
  --color-accent-3: var(--accents-3);
  --color-accent-4: var(--accents-4);
  --color-accent-5: var(--accents-5);
  --color-accent-6: var(--accents-6);
  --color-accent-7: var(--accents-7);
  --color-accent-8: var(--accents-8);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s)
    infinite;
  --animate-blink: blink 1.4s infinite;
  --animate-spinner: spinner 1.2s linear infinite;
  --animate-skeleton: skeleton_loading 8s ease-in-out infinite;
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-bento:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --shadow-input: var(--input-shadow);
  --shadow-dialog:
    var(--input-shadow), 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a,
    0px 24px 32px -8px #0000000f;
  --shadow-input-hover: var(--input-shadow-hover);
  --shadow-input-focus: var(--input-shadow-focus);

  --breakpoint-xs: 475px;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }
  @keyframes skeleton_loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-border) transparent;
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground relative mx-auto max-w-(--breakpoint-2xl) font-sans antialiased;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    @apply w-[5px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-border rounded-[5px];
  }
}
