.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply text-link hover:text-link-hover no-underline transition-colors;
}

.prose :is(h2, h3, h4) a code {
  font-size: inherit;
  color: inherit;
}

.prose
  :where(h2:not(:is(h1 + h2))):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  @apply border-foreground/20 mt-10 border-t pt-10;
}

.prose code:not(pre code) {
  padding: 0.12em 0.25em;
  @apply border border-solid border-[#ededed] bg-[#f7f7f7] leading-[1.2] dark:border-[#3e3c3c] dark:bg-[#2a2828];
}

.prose ul ::marker {
  content: "-";
  @apply text-accent-4;
}

.prose ol ::marker {
  counter-increment: list;
  content: counter(list) ". ";
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
}

.prose ol {
  list-style-type: none;
  counter-reset: list;
  padding: 0;
  padding-left: 18px;
}

.prose ol li {
  counter-increment: list;
  padding-left: 8px;
}

.prose pre > code {
  @apply text-accent-7! m-0! grid max-w-[inherit]! bg-white dark:bg-neutral-950;
}

blockquote > p::before {
  display: none;
}

.prose pre [data-line] {
  padding: 0 1rem;
}

.prose code[data-theme*=" "]:not(pre code),
.prose code[data-theme*=" "]:not(pre code) span {
  @apply text-(--shiki-light) dark:text-(--shiki-dark);
}

.prose pre code[data-theme*=" "],
.prose pre code[data-theme*=" "] span {
  @apply bg-(--shiki-light-bg) text-(--shiki-light) dark:bg-(--shiki-dark-bg) dark:text-(--shiki-dark);
}

.prose pre code span[data-highlighted-line] {
  @apply border-primary/70 bg-primary/20! border-l-2;
}

.prose pre code[data-line-numbers] {
  counter-reset: line;
}

.prose pre code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 18px;
  text-align: right;
  color: #6e6e6e;
  font-size: 13px;
}

.prose pre code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

.prose pre code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

.prose pre code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.prose pre code [data-highlighted-chars] {
  border-radius: 0.2rem;
  background-color: #52525b80;
  box-shadow: 0 0 0 4px #52525b80;
}
